* {
  border-style: none;
  font-weight: bold;
  user-select: none;
}

*:focus {
  outline: none;
}

body {
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff0f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(172, 11, 11);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(90, 6, 6);
}

.bodyFake {
  display: flex;
  flex-direction: column;
  background: rgb(13, 80, 213);
  background: linear-gradient(
    0deg,
    rgba(13, 80, 213, 1) 34%,
    rgba(11, 157, 126, 1) 88%
  );
}

nav {
  margin: 0 20% 100px 20%;
  top: 0;
  display: flex;
  height: 60px;
  border-left: 5px rgb(0, 0, 0) solid;
  border-right: 5px rgb(0, 0, 0) solid;
  border-bottom: 5px rgb(0, 0, 0) solid;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: white;
}


.navDiv {
  top: 0;
  display: flex;
  width: 100%;
  float: right;
}


.divTozih {
  display: flex;
  flex-direction: column;
  margin: 0 100px 0 100px;
  border-radius: 8px;
  /* background-color: white; */
  padding: 40px;
}


.chandTozih {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  z-index: 2;
}


.tozih {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-height: 300px;
  /* border: 1px pink solid; */
  justify-content: flex-end;
  font-size: 13;
  /* padding: 20px; */
  border-radius: 15px;
  background: rgb(200, 36, 135);
  background: linear-gradient(0deg,rgba(200, 36, 135, 1) 34%,rgba(107, 21, 206, 1) 88%);
  background-image: url(/!images/bazar.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 500ms;
  cursor: pointer;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  /* z-index: 1000; */
}


.tozih2::before{
  display: none;
  content: "";
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: blue;
  z-index: -1;
}


.tozih p{
  background-color: rgba(153, 2, 235, 0.9);
  height: 40%;
  font-size: 11;
  font-weight: 300;
  margin: 0;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: rgb(255, 255, 255);
  transition: 600ms;
}


.an{
  display: none;
  position: absolute;
  border: 1px red solid;
  border-radius: 15px;
  bottom: -25;
  right: -25;
  transition: 500ms;
  background-color: red;
  z-index: -1;
}


.aks {
  width: 100%;
  min-height: 60px;
  /* border: black 1px solid; */
  border-radius: 5px;
  margin-bottom: 20px;
  background-image: url(bazar.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tozih:hover {
  transform: scale(1.2);
}


.tozih1:hover .an{
  /* transform: translateX(0); */
  /* transform: translateY(0); */
  bottom: 0;
  right: 0;
}


.tozih1:hover p {
  height: 100%;
  background-color: rgba(153, 2, 235, 1);
  border-radius: 15px;
  font-size: 17;
}

.tozih2:hover p {
  height: 100%;
  background-color: rgba(153, 2, 235, 1);
  border-radius: 15px;
  font-size: 17;
}

.tozih3:hover p {
  height: 100%;
  background-color: rgba(153, 2, 235, 1);
  border-radius: 15px;
  font-size: 17;
}

.tozih4:hover p {
  height: 100%;
  background-color: rgba(153, 2, 235, 1);
  border-radius: 15px;
  font-size: 17;
}

@media screen and (max-width: 700px) {
  .tozih {
    width: 100%;
    /* margin-bottom: 100px; */
  }

  .divTozih {
    display: flex;
    flex-direction: column;
    margin: 0 60px 0 60px;
    padding: 40px 0 40px 0;
  }

  .chandTozih {
    flex-direction: column;
    align-items: center;
  }

  nav {
    margin-left: 0;
    margin-right: 0;
  }

  .marginTozih {
    margin-bottom: 100px;
  }

  .tozih1:hover p {
    flex-grow: 1;
    height: 100%;
    background-color: rgba(153, 2, 235, 1);
    border-radius: 15px;
    font-size: 13;
  }

  .tozih2:hover p {
    flex-grow: 1;
    height: 100%;
    background-color: rgba(153, 2, 235, 1);
    border-radius: 15px;
    font-size: 13;
  }

  .tozih3:hover p {
    flex-grow: 1;
    height: 100%;
    background-color: rgba(153, 2, 235, 1);
    border-radius: 15px;
    font-size: 13;
  }

  .tozih4:hover p {
    flex-grow: 1;
    height: 100%;
    background-color: rgba(153, 2, 235, 1);
    border-radius: 15px;
    font-size: 13;
  }
}
