* {
  border-style: none;
  font-weight: bold;
  user-select: none;
}


*:focus {
  outline: none;
}

body {
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff0f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(172, 11, 11);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(90, 6, 6);
}

.bodyFake {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: rgb(13, 80, 213);
  background: linear-gradient(
    0deg,
    rgba(13, 80, 213, 1) 34%,
    rgba(11, 157, 126, 1) 88%
  );
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

nav {
  margin: 0 20% 100px 20%;
  top: 0;
  display: none;
  height: 60px;
  border-left: 5px rgb(0, 0, 0) solid;
  border-right: 5px rgb(0, 0, 0) solid;
  border-bottom: 5px rgb(0, 0, 0) solid;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: white;
}


.navDiv {
  top: 0;
  display: flex;
  width: 100%;
  float: right;
}


.divTozih {
  display: flex;
  flex-direction: column;
  margin: 0 100px 0 100px;
  border-radius: 8px;
  /* background-color: white; */
  padding: 40px;
  justify-content: center;
  align-items: center;
}




.tozih{
  position: absolute;
  perspective: 1060px;
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 300px;
  /* border: 1px pink solid; */
  justify-content: flex-end;
  font-size: 13;
  /* padding: 20px; */
  border-radius: 15px;
  background: rgb(200, 36, 135);
  background: linear-gradient(0deg,rgba(200, 36, 135, 1) 34%,rgba(107, 21, 206, 1) 88%);
  transition: 500ms;
  cursor: default;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  /* z-index: 1000; */
  box-shadow: 20px 20px #F5DEBF;
}


.tozih:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 0px 5px #F5DEBF;
}



.t1a{
  position: absolute;
  perspective: 1060px;
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 300px;
  /* border: 1px pink solid; */
  justify-content: flex-end;
  font-size: 13;
  /* padding: 20px; */
  border-radius: 15px;
  background: rgb(200, 36, 135);
  background: linear-gradient(0deg,rgba(200, 36, 135, 1) 34%,rgba(107, 21, 206, 1) 88%);
  transition: 500ms;
  cursor: default;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  /* z-index: 1000; */
  box-shadow: 0px 0px 0px 5px #F5DEBF;
}


.t1a:hover{
  box-shadow: 0px 0px 0px 5px #F5DEBF;
  transform: scale(1.2);
}




.pi{
  position: absolute;
  display: flex;
  width: 270px;
  height: 100%;
  background-image: url(bazar.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  transform: rotateY(0deg);
  flex-direction: column;
  justify-content: flex-end;
  transition: 1s;
  backface-visibility: hidden;
  
}


.pi p{
  background-color: rgba(153, 2, 235, 0.9);
  height: 40%;
  font-size: 11;
  font-weight: 300;
  margin: 0;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: rgb(255, 255, 255);
  transition: 600ms;
}


.pia{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(bazar.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  transform: rotateY(0deg);
  flex-direction: column;
  justify-content: flex-end;
  transition: 1s;
  backface-visibility: hidden;
}


.pia p{
  height: 100%;
  font-weight: 300;
  margin: 0;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: rgb(255, 255, 255);
  transition: 600ms;
  background-color: rgba(153, 2, 235, 1);
  border-radius: 15px;
  font-size: 17;
}


.pu{
  display: flex;
  position: absolute;
  width: 270px;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 15px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: 1s;
}


.pu p{
  background-color: rgba(153, 2, 235, 0.9);
  height: 100%;
  font-size: 17;
  font-weight: 300;
  margin: 0;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: rgb(255, 255, 255);
  backface-visibility: hidden;
}



.dokmekam{
  position: absolute;
  display: flex;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 150px;
  height: 25px;
  margin:auto auto 20px auto;
  background-color: aqua;
  border-radius: 5px;
  transition: 1s;
}



.dokmekam:hover{
  background-color: rgb(6, 153, 153);
  transition: 0.3s;
}



/* .tozih:hover .dokme{
  opacity: 1;
} */


.dokme{
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  display: flex;
  position: absolute;
  background-color: aqua;
  width: 150px;
  height: 25px;
  margin:auto auto 20px auto;
  /* margin-left: 60px; */
  border-radius: 5px;
  /* align-items: center; */
  justify-content: center;
  cursor: pointer;
  backface-visibility: hidden;
  transition: 0.3s;
}


.dokme p{
  background-color: transparent;
}


.dokme:hover{
  background-color: rgb(6, 153, 153);
}


.tozih:hover .dokme{
  opacity: 1;
}

.an{
  display: none;
  position: absolute;
  border: 1px red solid;
  border-radius: 15px;
  bottom: -25;
  right: -25;
  transition: 500ms;
  background-color: red;
  z-index: -1;
}


.aks {
  width: 100%;
  min-height: 60px;
  /* border: black 1px solid; */
  border-radius: 5px;
  margin-bottom: 20px;
  background-image: url(/!images/bazar.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



.tozih:hover p{
  height: 100%;
  background-color: rgba(153, 2, 235, 1);
  border-radius: 15px;
  font-size: 17;
}


.tozih:hover .an{
  /* transform: translateX(0); */
  /* transform: translateY(0); */
  bottom: 0;
  right: 0;
}


.charkh{
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px red solid;
  transform: rotateY('180');
}



